ion-modal#vlkb-output {
  --width: 90%;
  --height: 90vh;
  --border-radius: 1.5rem;
  --background: #474747;
}

ion-toolbar {
  --background: var(--grey-three);
}

ion-content {
  --background: var(--grey-three);
}

ion-button {
  --background: #266FB8;
}

ion-accordion-group {
  display: grid;
  //grid-template-rows: 1fr 1fr 400px;
  ion-accordion {

  }
}

.accordion-header {
  --background: #A6A6A5;

  ion-label {
    color: #000000;
  }

  ion-icon {
    color: #000000;
  }
}

.accordion-content {
  background-color: var(--grey-three);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 10px;
}

.active-color {
  --background: #267738;
}

.inactive-color {
  --background: #25262F;
}
