
ion-modal#alert-info {
  --height: fit-content;
  --border-radius: 1.5rem;
}

.loading-bar-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.loading-bar {
  display: flex;
  border: 0.2rem solid var(--ion-color-primary);
  border-radius: 1rem;
  background-color: transparent;
  width: 100%;
  height: 1.2rem;
  justify-content: flex-start;
}

.inner-bar {
  background-color: var(--ion-color-primary);
  border-radius: 1rem;
  margin: 0.2rem;
}
