.row {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.even-row {
  background-color: #383838;
}

.odd-row {
  background-color: #3D3D3D;
}

.blue-background {
  background-color: #25619C;
}

.green-text {
  color: #16B331;
}
