ion-content {
  --background: var(--grey-four);
}

ion-button {
  --background: #266FB8;
}

ion-input {
  --background: var(--dark-one);
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-focused: var(--ion-color-primary);
}

ion-toolbar {
  --background: #393939;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.same-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input-label-container {
  width: 100px;
}

.input-label {
  white-space: nowrap;
}

.invalid {
  opacity: 0.5;
}
