:host {
  .toggle {
    display: flex;
    justify-content: center;
    min-width: 96px;
    width: fit-content;
    padding: .5rem;
    border-radius: 10px;
    background-color: #666666;
    cursor: pointer;
    color: #FFFFFF;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: #868686;
    }
  }

  .toggled {
    background-color: #278B3B;

    &:hover {
      background-color: #47AB5B;
    }
  }

  .untoggled {
    background-color: #666666;

    &:hover {
      background-color: #868686;
    }
  }
}
